.contmain {
  border-radius: 12px;
  height: 350px;
  width: 270px;
  padding: 10px;
  scroll-snap-align: start;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: inline-block;
}

.contmain:hover {
  transform: translateY(-4px);
}

.contmain:hover {
  transform: scale(1.005);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

.fir {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-color: rgb(201, 153, 153);
  overflow: hidden;
}

.sec {
  width: 100%;
  height: 30%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

ul li {
  list-style-type: none;
}

.srvces {
  font-size: 25px;
}

.contmain img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.serviceDet {
  margin-top: 10px;
}

.serviceName {
  font-weight: 600;
  font-size: 18px;
}

.serviceRating {
  font-size: 15px;
  color: #f39c12;
}

.servicePrice {
  font-size: 16px;
  color: #2d3436;
  font-weight: 500;
}