.nav {
   position: fixed;
   top: 0;
   left: 0;
   height: 90px;
   width:100vw;
   border-bottom: 1px solid #ddd;
   background-color:rgb(255, 255, 255);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   z-index: 1000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
   display: inline-block;
   font-size: 40px;
   font-weight: 600;
   width: 700px;
}

.location,
.search {
   display: inline-block;
}

.login {
   display: flex;
   justify-content: space-evenly;
   width: 250px;
}

.login img:hover {
   transform: scale(1.1);
}

.icn {
   height: 20px;
}

.inpt {
   height: 50px;
   width: 260px;
   margin-left: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 1px solid black;
   border-radius: 10px;
   font-size: 20px;
}

.loc {
   padding: 10px;
   border: none;
}

.loc:focus {
   outline: none;
}