.footer {
   height: 70vh;
   width: 100vw;
   margin-top: 40px;
   background-color: rgba(216, 216, 216, 0.742);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
   color: #333;
}

.topfooter {
   height: 20%;
   width: 85vw;
   margin: auto;
   border-bottom: 1px solid rgb(183, 183, 183);
   display: flex;
   align-items: center;
   font-size: 40px;
   font-weight: bold;
}

.midfooter {
   height: 60%;
   width: 85vw;
   margin: auto;
   border-bottom: 1px solid rgb(183, 183, 183);
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   padding-top: 2.5rem;
}

.midf {
   height: 70%;
   font-size: 20px;
   font-weight: bolder;
   padding: 5px;
}

.info {
   font-size: 16px;
   font-weight: lighter;
   padding-top: 10px;
}

.list {
   list-style: none;
   padding: 0;
   margin-top: 10px;
   line-height: 1.6;
}

.link {
   text-decoration: none;
   color: black;
   font-size: 16px;
   font-weight: lighter;
   transition: transform 0.2s ease-out;
}

.list li:hover {
   transform: translateX(2px);
   cursor: pointer;
}

.bottomfooter {
   height: 20%;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   font-weight: lighter;
   text-align: center;
   padding: 20px;
}