:root {
   --navbar-height: 90px;
   /* navbar height */
   --box-width: 25vw;
   --primary-color: #3c34dd;
   --secondary-color: #7feacf;
   --content-bg: #b33c2c;
   --card-bg: #bef7e9;
   --text-dark: #222;
   --text-light: #fafafa;
   --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   --radius: 12px;
}

.boxes {
   height: 100px;
   background-color: var(--card-bg);
   border-radius: var(--radius);
   box-shadow: var(--shadow);
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   padding: 12px;
   transition: all 0.3s ease;
   text-align: center;
}

.boxes:hover {
   transform: translateY(-3px);
   background-color: var(--secondary-color);
   color: var(--text-dark);
}